* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    background: #0e0e0e;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    cursor: none;
}

/* ===== LOADER ===== */

.loader-container {
    position: fixed;
    inset: 0;
    height: 100vh;
    padding: 0 4vw;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 2.5vw;
    transform-origin: center;
}

.loader-text {
    font-size: 8rem;
    letter-spacing: 0.05em;
    white-space: nowrap;
}

.loader-bar {
    position: relative;
    width: 50vw;
    height: 5rem;
    padding: 0.6rem;
    border-radius: 999px;
    border: 1.5px solid white;
    overflow: hidden;
}

.loader-dot {
    position: absolute;
    top: 50%;
    left: 0;
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* ===== START SCREEN ===== */

.start-screen {
    position: fixed;
    inset: 0;
    background: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.start-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    letter-spacing: 0.08em;
    opacity: 0;
    transform: scale(0.8);
    cursor: pointer;

    background-color: #000000;
}

/* Cursor personalizado */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;   /* tamaño inicial del cursor */
    height: 30px;
    border-radius: 50%;
    background-color: white; /* color por defecto */
    pointer-events: none;    /* para que no interfiera con clicks */
    transform: translate(-50%, -50%);
    transition: background-color 0.3s, transform 0.15s;
    z-index: 9999;
}
  
/* Color especial al pasar por encima del círculo */
.start-circle:hover ~ .custom-cursor {
    background-color: #7BC1CF; /* color al pasar por encima */
}